 <footer class="footer ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-4 mb-4 mb-md-0">
						<h2 class="footer-heading">os gebäudereinigung</h2>
						<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
              <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
					</div>
				
					<div class="col-md-6 col-lg-4 pl-lg-5 mb-4 mb-md-0">
						<h2 class="footer-heading">Quick Links</h2>
						<ul class="list-unstyled">
              <li><a href="{% url 'index' %}" class="py-1 d-block">Home</a></li>
              <li><a href="{% url 'about-us' %}" class="py-1 d-block">About</a></li>
              <li><a href="{% url 'services' %}" class="py-1 d-block">Services</a></li>
              <li><a href="{% url 'portfolio' %}" class="py-1 d-block">Works</a></li>
              <li><a href="{% url 'contact-us' %}" class="py-1 d-block">Contact</a></li>
            </ul>
					</div>
					<div class="col-md-6 col-lg-4 mb-4 mb-md-0">
						<h2 class="footer-heading">Have a Questions?</h2>
						<div class="block-23 mb-3">
              <ul>
                <li><span class="icon fa fa-map-marker"></span><span class="text">Linienstraße 54D-40227 Düsseldorf</span></li>
                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">0176 805 947 64</span></a></li>
                <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">info@osgebäudereinigung.de</span></a></li>
              </ul>
            </div>
					</div>
				</div>
				<div class="row mt-5">
          <div class="col-md-12 text-center">

            <p class="copyright">
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  by <a href="" target="_blank">osgebäudereinigung</a>
            </p>
          </div>
        </div>
			</div>
		</footer>