<footer class="footer ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
        <h2 class="footer-heading">os gebäudereinigung</h2>
        <p>OS Gebäudereinigung bietet professionelle Reinigung auf höchstem Niveau. Unsere über 10-jährige Branchenerfahrung garantiert Qualität, Diskretion und zuverlässige Lösungen für Unternehmen, Hotels und Privatkunden.</p>
        <!-- <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
          <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
        </ul> -->
      </div>

      <div class="col-md-6 col-lg-4 pl-lg-5 mb-4 mb-md-0">
        <h2 class="footer-heading">Schnellzugriffe</h2>
        <ul class="list-unstyled">
          <li><a href="{% url 'index' %}" class="py-1 d-block">Startseite</a></li>
          <li><a href="{% url 'about-us' %}" class="py-1 d-block">Über uns</a></li>
          <li><a href="{% url 'services' %}" class="py-1 d-block">Dienstleistungen</a></li>
          <li><a href="{% url 'portfolio' %}" class="py-1 d-block">Projekte</a></li>
          <li><a href="{% url 'contact-us' %}" class="py-1 d-block">Kontakt</a></li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
        <h2 class="footer-heading">Haben Sie Fragen?</h2>
        <div class="block-23 mb-3">
          <ul>
            <li><span class="icon fa fa-map-marker"></span><span class="text">Linienstraße 54D-40227 Düsseldorf</span></li>
            <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">0176 805 947 64</span></a></li>
            <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">info@osgebäudereinigung.de</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <p class="copyright">
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> Alle Rechte vorbehalten von <a href="" target="_blank">osgebäudereinigung</a>
        </p>
      </div>
    </div>
  </div>
</footer>
