{% extends 'main/base.html' %}
{% load static %}
{% block content %}
   




  
   <div class="hero-wrap js-fullheight" style="background-image: url('{% static "images/bg_1.png" %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
          	<h2 class="subheading">Überlassen Sie uns die Hausreinigung.</h2>
          	<h1 class="mb-4">Wir erledigen die schmutzige Arbeit, damit Sie es nicht tun müssen.</h1>
            <p><a href="#" class="btn btn-primary mr-md-4 py-2 px-4">Mehr erfahren <span class="ion-ios-arrow-forward"></span></a></p>
          </div>
        </div>
      </div>
    </div>

	  <section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb">
			<div class="overlay"></div>
    	<div class="container">
    		<div class="row d-md-flex justify-content-center">
    			<div class="col-md-12">
	    			<div class="wrap-appointment bg-white d-md-flex pl-md-4 pb-5 pb-md-0">
						<form method="POST" class="appointment w-100">
							{% csrf_token %}
							 <input type="hidden" name="form_type" value="appointment">
							<div class="row justify-content-center">

								<div class="col-12 col-md d-flex align-items-center pt-4 pt-md-0">
									<div class="form-group py-md-4 py-2 px-4 px-md-0">
										<label>Name</label>
										<input type="text" name="name" class="form-control" placeholder="Ihr Name" required>
									</div>
								</div>

								<div class="col-12 col-md d-flex align-items-center">
									<div class="form-group py-md-4 py-2 px-4 px-md-0">
										<label>Telefonnummer</label>
										<input type="text" name="phone" class="form-control" placeholder="Telefonnummer" required>
									</div>
								</div>

								<div class="col-12 col-md d-flex align-items-center">
									<div class="form-group py-md-4 py-2 px-4 px-md-0 w-100">
										<label>Anzahl der Reinigungskräfte</label>
										<select name="cleanersCount" id="cleanersCount" class="form-control" required>
											<option value="" disabled selected>Bitte Anzahl wählen</option>
											<option value="1">1 Reinigungskraft</option>
											<option value="2">2 Reinigungskräfte</option>
											<option value="3">3 Reinigungskräfte</option>
											<option value="4">4 Reinigungskräfte</option>
											<option value="5+">5 oder mehr Reinigungskräfte</option>
										</select>
									</div>
								</div>

								<div class="col-12 col-md d-flex align-items-center">
									<div class="form-group py-md-4 py-2 px-4 px-md-0">
										<label>Dienstleistungen auswählen</label>
										<select name="services" id="services" class="form-control" required>
											<option value="">Dienstleistung auswählen</option>
											<option value="büroreinigung">Büroreinigung</option>
											<option value="hotelreinigung">Hotelreinigung</option>
											<option value="treppenreinigung">Treppenreinigung</option>
											<option value="küchenreinigung">Küchenreinigung</option>
											<option value="tägliche_haushaltsreinigung">Tägliche Haushaltsreinigung</option>
											<option value="villareinigung">Villareinigung</option>
										</select>
									</div>
								</div>

								<div class="col-12 col-md d-flex align-items-center align-items-stretch">
									<div class="form-group py-md-4 py-2 px-4 px-md-0 d-flex align-items-stretch bg-primary">
										<input type="submit" value="Termin vereinbaren" class="btn btn-primary py-3 px-4">
									</div>
								</div>

							</div>
						</form>

		    		</div>
		    	</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class="col-md-6 d-flex">
    				<div class="img d-flex align-items-center justify-content-center py-5 py-md-0" style="background-image: url('{% static "images/about.png" %}');">
						<div class="time-open-wrap">
							<div class="desc p-4">
								<h2>Geschäftszeiten</h2>
								<div class="opening-hours">
									<h4>Öffnungstage:</h4>
									<p class="pl-3">
										<span><strong>Montag – Freitag:</strong> 9:00 – 18:00 Uhr</span>
										<span><strong>Samstag:</strong> 9:00 – 14:00 Uhr</span>
									
									</p>
									<h4>Geschlossen:</h4>
									<p class="pl-3">
										<span>Alle Sonntage</span>
										<span>Alle gesetzlichen Feiertage</span>
									</p>
								</div>
							</div>

							<div class="desc p-4 bg-secondary">
								<h3 class="heading">Für Notfälle</h3>
								<span class="phone">0176 805 947 64</span>
							</div>
						</div>
					</div>







    			</div>
    			<div class="col-md-6 pl-md-5 pt-md-5">
    				<div class="row justify-content-start py-5">
		          	<div class="col-md-12 heading-section ftco-animate">
						<span class="subheading">Willkommen bei osgebäudereinigung</span>
						<h2 class="mb-4">Wir bringen Frische in jeden Raum</h2>
						<p>Wir sind das Unternehmen OS Gebäudereinigung, spezialisiert auf professionelle Reinigungsdienstleistungen auf höchstem Niveau. Trotz unserer jungen Unternehmensgeschichte bringen wir über 10 Jahre Erfahrung in der Reinigungsbranche mit und stehen für Qualität, Zuverlässigkeit und Kundenzufriedenheit.</p>
						<p>Mit einem erfahrenen, geschulten und engagierten Team sowie dem Einsatz moderner Geräte und hochwertiger Reinigungsmittel bieten wir Reinigungsservices für Privathaushalte, Büros, Unternehmen, Hotels und Gewerbeobjekte an.</p>
						<p>Unser Anspruch ist es, saubere, hygienische und angenehme Umgebungen zu schaffen. Daher passen wir unsere Dienstleistungen individuell an die Bedürfnisse jedes Kunden an.</p>
						<p>Unser Ziel ist es, langfristige Partnerschaften aufzubauen und unseren Kunden zuverlässige, schnelle und qualitativ hochwertige Services zu bieten.</p>
					
					</div>
		        </div>
				<!-- <div class="row ftco-counter py-5" id="section-counter">
					<div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
						<div class="text">
							<strong class="number" data-number="45">0</strong>
						</div>
						<div class="text">
							<span>Years of <br>Experienced</span>
						</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
						<div class="text">
							<strong class="number" data-number="2342">0</strong>
						</div>
						<div class="text">
							<span>Happy <br>Customers</span>
						</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
						<div class="text">
							<strong class="number" data-number="30">0</strong>
						</div>
						<div class="text">
							<span>Building <br>Cleaned</span>
						</div>
						</div>
					</div>
				</div> -->
	        </div>
        </div>
    	</div>
    </section>

    <!-- <section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Dienstleistungen</span>
                <h2>Wie wir arbeiten</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 services ftco-animate">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-workplace"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Büroreinigung</h3>
                        <p>Effiziente und gründliche Reinigung, um Ihren Arbeitsplatz täglich produktiv und professionell zu halten.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 services ftco-animate">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span><i class="fa-solid fa-hotel"></i></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Hotelreinigung</h3>
                        <p>Makellose Reinigungsdienste, die für jeden Gast einen komfortablen und einladenden Aufenthalt gewährleisten.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 services ftco-animate">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span><i class="fa-solid fa-stairs"></i></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Treppenreinigung</h3>
                        <p>Fachgerechte Pflege Ihrer Treppen, um Schmutz und Ablagerungen für ein makelloses Erscheinungsbild zu entfernen.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 services ftco-animate">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-kitchen"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Küchenreinigung</h3>
                        <p>Gründliche Küchenreinigung, die Hygiene und Frische in Ihren Kochbereichen garantiert.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 services ftco-animate">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span><i class="fa-solid fa-broom"></i></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Tägliche Haushaltsreinigung</h3>
                        <p>Zuverlässige tägliche Reinigung zur mühelosen Erhaltung eines frischen und einladenden Zuhause.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 services ftco-animate">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span><i class="fa-solid fa-house-chimney"></i></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Villareinigung</h3>
                        <p>Premium-Reinigung, die darauf zugeschnitten ist, die Eleganz und den Komfort Ihrer Villa zu bewahren.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<section class="bg-light pb-5">

	<div class="container mt-5">
		<hr>
		<div class="row justify-content-center pb-5 mb-3">
			<div class="col-md-7 pt-5 heading-section text-center ftco-animate">
				<span class="subheading">Dienstleistungen</span>
				<h2>Wie wir arbeiten</h2>
			</div>
		</div>
	</div>
	<div class="container cont">
		
		<div class="product-card">
			<div class="product-card__image">
				<img src="{% static 'images/office-c.png' %}" alt="Office">
			</div>
			<div class="product-card__info">
				<h2 class="product-card__title">Büroreinigung</h2>
				<p class="product-card__description">Effiziente und gründliche Reinigung, um Ihren Arbeitsplatz täglich produktiv und professionell zu halten.</p>
				
			</div>
		</div>
		<div class="product-card">
			<div class="product-card__image">
				<img src="{% static 'images/hotel-c.png' %}" alt="Hotelreinigung">
			</div>
			<div class="product-card__info">
				<h2 class="product-card__title">Hotelreinigung</h2>
				<p class="product-card__description">Makellose Reinigungsdienste, die für jeden Gast einen komfortablen und einladenden Aufenthalt gewährleisten.</p>
				
			</div>
		</div>
		<div class="product-card">
			<div class="product-card__image">
				<img src="{% static 'images/stairs-c.png' %}" alt="Küchenreinigung">
			</div>
			<div class="product-card__info">
				<h2 class="product-card__title">Treppenreinigung</h2>
				<p class="product-card__description">Fachgerechte Pflege Ihrer Treppen, um Schmutz und Ablagerungen für ein makelloses Erscheinungsbild zu entfernen.</p>
				
			</div>
		</div>
		<div class="product-card">
			<div class="product-card__image">
				<img src="{% static 'images/kitchen-c.png' %}" alt="Küchenreinigung">
			</div>
			<div class="product-card__info">
				<h2 class="product-card__title">Küchenreinigung</h2>
				<p class="product-card__description">Gründliche Küchenreinigung, die Hygiene und Frische in Ihren Kochbereichen garantiert.</p>
				
			</div>
		</div>
		<div class="product-card">
			<div class="product-card__image">
				<img src="{% static 'images/d-house-c.png' %}" alt="Tägliche Haushaltsreinigung">
			</div>
			<div class="product-card__info">
				<h2 class="product-card__title">Tägliche Haushaltsreinigung</h2>
				<p class="product-card__description">Zuverlässige tägliche Reinigung zur mühelosen Erhaltung eines frischen und einladenden Zuhause.</p>
				
			</div>
		</div>
		<div class="product-card">
			<div class="product-card__image">
				<img src="{% static 'images/house-c.png' %}" alt="Villareinigung">
			</div>
			<div class="product-card__info">
				<h2 class="product-card__title">Villareinigung</h2>
				<p class="product-card__description">Premium-Reinigung, die darauf zugeschnitten ist, die Eleganz und den Komfort Ihrer Villa zu bewahren.</p>
				
			</div>
		</div>
	</div>
</section>




<section class="py-5 why-choose-us">

	<div class="hex hex-1"></div>
	<div class="hex hex-2"></div>
	<div class="hex hex-3"></div>
	<div class="hex hex-4"></div>
	<div class="hex hex-5"></div>
	<div class="hex hex-6"></div>

	
  <div class="container">

    <div class="row mb-5">
      <div class="col text-center">
        <h2 class="font-weight-bold">Warum Kunden uns wählen</h2>
      </div>
    </div>

    <div class="row justify-content-center">

      <!-- Item -->
		<div class="col-lg-6 col-md-6 mb-4">
			<div class="choose-item d-flex align-items-start">
				<div class="check-icon">
					<i class="fa-solid fa-tag"></i> <!-- Fixed prices icon -->
				</div>
				<div class="choose-text">
					<h6>Festpreise + klare Stunden</h6>
					<p>Keine Überraschungen, keine versteckten Kosten.</p>
				</div>
			</div>
		</div>

		<!-- Item -->
		<div class="col-lg-6 col-md-6 mb-4">
			<div class="choose-item d-flex align-items-start">
				<div class="check-icon">
					<i class="fa-solid fa-users"></i> <!-- Cleaners count icon -->
				</div>
				<div class="choose-text">
					<h6>Sie wählen die Anzahl der Reinigungskräfte</h6>
					<p>Anzahl der Reinigungskräfte je nach Dringlichkeit und Objektart.</p>
				</div>
			</div>
		</div>

      <!-- Item -->
		<div class="col-lg-6 col-md-6 mb-4">
			<div class="choose-item d-flex align-items-start">
				<div class="check-icon">
					<i class="fa-solid fa-bolt"></i> <!-- Faster cleaning icon -->
				</div>
				<div class="choose-text">
					<h6>Schneller reinigen mit mehr Reinigungskräften</h6>
					<p>Sie bestimmen das Tempo im Verhältnis zum Budget.</p>
				</div>
			</div>
      </div>

      <!-- Item -->
		<div class="col-lg-6 col-md-6 mb-4 bg">
			<div class="choose-item d-flex align-items-start">
				<div class="check-icon">
					<i class="fa-solid fa-shield-halved"></i> <!-- Security/Background check icon -->
				</div>
				<div class="choose-text">
					<h6>Teams mit Sicherheitsüberprüfung</h6>
					<p>Jede Reinigungskraft ist geschult und sicherheitsgeprüft.</p>
				</div>
			</div>
		</div>

    </div>
  </div>
</section>









   
<!-- 
    <section class="ftco-section testimony-section ftco-bg-dark">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section heading-section-white text-center ftco-animate">
          	<span class="subheading">Testimonies</span>
            <h2>Happy Customer</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap py-4">
                	<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-right"></span></div>
                  <div class="text">
                  	<div class="d-flex align-items-center mb-4">
                    	<div class="user-img" style="background-image: url('{% static "images/person_1.jpg" %}');"></div>
                    	<div class="pl-3">
		                    <p class="name">Roger Scott</p>
		                    <span class="position">Marketing Manager</span>
		                  </div>
	                  </div>
                    <p class="mb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                	<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-right"></span></div>
                  <div class="text">
                  	<div class="d-flex align-items-center mb-4">
                    	<div class="user-img" style="background-image: url('{% static "images/person_2.jpg" %}');"></div>
                    	<div class="pl-3">
		                    <p class="name">Roger Scott</p>
		                    <span class="position">Marketing Manager</span>
		                  </div>
	                  </div>
                    <p class="mb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                	<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-right"></span></div>
                  <div class="text">
                  	<div class="d-flex align-items-center mb-4">
                    	<div class="user-img" style="background-image: url('{% static "images/person_3.jpg" %}');"></div>
                    	<div class="pl-3">
		                    <p class="name">Roger Scott</p>
		                    <span class="position">Marketing Manager</span>
		                  </div>
	                  </div>
                    <p class="mb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                	<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-right"></span></div>
                  <div class="text">
                  	<div class="d-flex align-items-center mb-4">
                    	<div class="user-img" style="background-image: url('{% static "images/person_4.jpg" %}');"></div>
                    	<div class="pl-3">
		                    <p class="name">Roger Scott</p>
		                    <span class="position">Marketing Manager</span>
		                  </div>
	                  </div>
                    <p class="mb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                	<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-right"></span></div>
                  <div class="text">
                  	<div class="d-flex align-items-center mb-4">
                    	<div class="user-img" style="background-image: url('{% static "images/person_5.jpg" %}');"></div>
                    	<div class="pl-3">
		                    <p class="name">Roger Scott</p>
		                    <span class="position">Marketing Manager</span>
		                  </div>
	                  </div>
                    <p class="mb-1">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
		
		<!-- <section class="ftco-section ftco-no-pb">
			<div class="container">
				<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-12 heading-section  text-center ftco-animate">
          	<span class="subheading">Our Project</span>
            <h2>We have done many latest cleaning project</h2>
          </div>
        </div>
				<div class="row">
          <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="work img d-flex align-items-center" style="background-image: url('{% static "images/work-1.jpg" %}');">
            	<a href="images/work-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4 text-center pt-5 mt-5">
	              <div class="text w-100 mb-3 mt-4">
	              	<h2><a href="work-single.html">House Cleaning</a></h2>
	              </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="work img d-flex align-items-center" style="background-image: url('{% static "images/work-2.jpg" %}');">
            	<a href="images/work-2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4 text-center pt-5 mt-5">
	              <div class="text w-100 mb-3 mt-4">
	              	<h2><a href="work-single.html">Window Cleaning</a></h2>
	              </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="work img d-flex align-items-center" style="background-image: url('{% static "images/work-3.jpg" %}');">
            	<a href="images/work-3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4 text-center pt-5 mt-5">
	              <div class="text w-100 mb-3 mt-4">
	              	<h2><a href="work-single.html">Pool Cleaning</a></h2>
	              </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="work img d-flex align-items-center" style="background-image: url('{% static "images/work-4.jpg" %}');">
            	<a href="images/work-4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4 text-center pt-5 mt-5">
	              <div class="text w-100 mb-3 mt-4">
	              	<h2><a href="work-single.html">Office Cleaning</a></h2>
	              </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="work img d-flex align-items-center" style="background-image: url('{% static "images/work-5.jpg" %}');">
            	<a href="images/work-5.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4 text-center pt-5 mt-5">
	              <div class="text w-100 mb-3 mt-4">
	              	<h2><a href="work-single.html">Carpet Cleaning</a></h2>
	              </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="work img d-flex align-items-center" style="background-image: url('{% static "images/work-6.jpg" %}');">
            	<a href="images/work-6.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4 text-center pt-5 mt-5">
	              <div class="text w-100 mb-3 mt-4">
	              	<h2><a href="work-single.html">Garden Cleaning</a></h2>
	              </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="work img d-flex align-items-center" style="background-image: url('{% static "images/work-7.jpg" %}');"">
            	<a href="images/work-7.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4 text-center pt-5 mt-5">
	              <div class="text w-100 mb-3 mt-4">
	              	<h2><a href="work-single.html">Carpet Cleaning</a></h2>
	              </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="work img d-flex align-items-center" style="background-image: url('{% static "images/work-8.jpg" %}');">
            	<a href="images/work-8.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4 text-center pt-5 mt-5">
	              <div class="text w-100 mb-3 mt-4">
	              	<h2><a href="work-single.html">Pool Cleaning</a></h2>
	              </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</section>	 -->
		
		
<!-- 
  	<section class="ftco-section ftco-intro" style="background-image: url('{% static "images/bg_3.jpg" %}');" data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-8 text-center">
    				<h2>Together we will explore new things</h2>
    				<a href="" class="icon-video d-flex align-items-center justify-content-center"><span class="fa fa-play"></span></a>
    			</div>
    		</div>
    	</div>
    </section> -->

		<section class="ftco-section bg-ligh ftco-animate">
			<div class="container">
				
				<div class="row justify-content-center pb-5 mb-3">
					<div class="col-md-7 heading-section text-center ftco-animate">
						<span class="subheading">Wir sind für Sie da</span>
						<h2>Kontakt aufnehmen</h2>
					</div>
				</div>


				<div class="row justify-content-center">
					<div class="col-md-12">
						<div class="wrapper">

						<div class="row no-gutters">
							<div class="col-md-12">
							<div class="contact-wrap w-100 p-md-5 p-4">
								<!-- <h3 class="mb-4">Kontakt aufnehmen</h3> -->
								<div id="form-message-warning" class="mb-4"></div>
								<div id="form-message-success" class="mb-4">
								Ihre Nachricht wurde gesendet, danke!
								</div>
								<form method="POST" id="contactForm" name="contactForm" class="contactForm">
    								{% csrf_token %}
									<div class="row">
										<div class="col-md-6">
										<div class="form-group">
											<label class="label" for="name">Vollständiger Name</label>
											<input type="text" class="form-control" name="name" id="name" placeholder="Name">
										</div>
										</div>
										<div class="col-md-6">
										<div class="form-group">
											<label class="label" for="email">E-Mail-Adresse</label>
											<input type="email" class="form-control" name="email" id="email" placeholder="E-Mail">
										</div>
										</div>
										<div class="col-md-12">
										<div class="form-group">
											<label class="label" for="subject">Betreff</label>
											<input type="text" class="form-control" name="subject" id="subject" placeholder="Betreff">
										</div>
										</div>
										<div class="col-md-12">
										<div class="form-group">
											<label class="label" for="#">Nachricht</label>
											<textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Nachricht"></textarea>
										</div>
										</div>
										<div class="col-md-12">
										<div class="form-group">
											<input type="submit" value="Nachricht senden" class="btn btn-primary">
											<div class="submitting"></div>
										</div>
										</div>
									</div>
								</form>
							</div>
							</div>

						</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		<script>
			document.addEventListener('DOMContentLoaded', function() {
				{% if messages %}
				{% for message in messages %}
					Swal.fire({
					icon: "{% if 'error' in message.tags %}error{% elif 'success' in message.tags %}success{% else %}info{% endif %}",
					title: "{{ message|escapejs }}",
					timer: 3500,
					timerProgressBar: true,
					showConfirmButton: false,
					});
				{% endfor %}
				{% endif %}
			});
		</script>
   
    
  {% endblock %}
